<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NetellyProject.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
				<key>dateExpires</key>
				<string>7/24/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BmoViewPager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>InstagramLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>LineSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftIcons.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TwitterCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TwitterKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>XCDYouTubeKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44E1C4D7CDA59AC53107A93E354FD30B9C9EABAF</string>
						<key>dateExpires</key>
						<string>7/24/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>W39KJND8RQ</string>
						<key>name</key>
						<string>Netelly Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>W39KJND8RQ.jp.com.Netelly</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:demo-netelly.sky-demo.net</string>
					<string>applinks:netelly.co.jp</string>
				</array>
				<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>W39KJND8RQ</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Netelly.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>20709493-9490-4ea7-bbd0-4f18b4e1205e</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: jp.com.Netelly</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>W39KJND8RQ</string>
				<key>name</key>
				<string>Netelly Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
